[Unit]
Description=Edukacja.cl API
After=network.target

[Service]
User=root
ExecStart=/home/tojatos/edu-cl-mail/envrun.sh
WorkingDirectory=/home/tojatos/edu-cl-mail/
Restart=on-failure
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
